p {
    text-align: justify;
    font-weight: normal;
    font-size: 115%;
}

.dim-margin {
    margin-bottom: 3em;
    margin-right: 3em;
}

.container img {
    margin-top: 3em;
}

.bar.background-image-fixed-2 {
  background: url('../img/intro-bg.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
