{{ if isset .Site.Params "packages" }}
{{ if .Site.Params.packages.enable }}
<!-- <section class="bar no-mb background-white text-center" id="packages"> -->
<section class="bar background-pentagon no-mb" id="packages">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading text-center">
            <h2>{{ .Site.Params.packages.title }}</h2>
          </div>
        </div>

        <div class="col-md-12">
          <p class="lead" style="text-align: justify;">
            {{ .Site.Params.packages.subtitle | markdownify }}
          </p>
        </div>

        {{ with .Site.Params.packages.promo }}
        <div class="col-md-12">
          <p class="promo">
            {{ . | markdownify }}
          </p>
        </div>
        {{ end }}
    </div>
    <!-- /.container -->
</section>

<script src="https://gumroad.com/js/gumroad.js"></script>

{{ range sort .Site.Data.packages "weight" }}
{{ partial "package.html" . }}
{{ end }}

<!-- /.bar -->
{{ end }}
{{ end }}
