{{ if isset .Site.Params "see_more" }}
{{ if .Site.Params.see_more.enable }}
<section id="email" class="bar background-image-fixed-2 no-mb text-center">
    <!-- <div class="dark-mask"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>
                {{ with .Site.Params.see_more.title }}
                <h3 class="text-uppercase" style="color: white">{{ . }}</h3>
                {{ end }}
                <p class="text-center">
                  <script async id="_ck_287952" src="https://forms.convertkit.com/287952?v=6"></script>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
