<section id="taop" class="bar no-mb background-taop">
 <!-- <div class="dark-mask"></div> -->
 <a href="http://theartofpostgresql.com" alt="The Art Of PostgreSQL">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <h2 class="ny-title">Coming Soon</h2>
     <br />
     <section class="ny-body">
      <p class="ny-desc">
       What if you could turn<br>
       thousands of lines of code into<br>
       simple queries?
      </p>
     </section>        
    </div>
   </div>
  </div>
 </a> 
</section>
